s<body id="home-page">

<!-- start header -->
<header>
    <div class="container">
    <!-- start navigation -->
    <nav>
        <ul>
        <li><a href="#" class="profile-button"><img src="/images/icons/profile.svg"></a></li>
        <li><a href="/" class="logo"><img src="/images/icons/logo.svg"></a></li>
        <li><a href="/overview" class="matches-button"><img src="/images/icons/heartbeat.svg"></a></li>
        </ul>
    </nav>
    <!-- end navigation -->
    </div>
</header>
<!-- end header -->

<!-- start main content -->
<main>
    <section>
        <article class="profile">
            <div class="img-holder">
                <img src="/images/profile_mark.jpg">
            </div>
            <span class="name-plate"><h1>Mark, <span class="age">25</span></h1></span>
            <div class="about">
                <div class="container">
                    <span class="location">
                        <figure><img src="/images/icons/pin.svg" alt="pinpoint"></figure>
                        <h3><span class="distance">2km</span> away from you</h3>
                    </span>
                    <h2>About</h2>
                    <p>
                       Ik reis graag maar niet alleen<br>
                       Sporten is mijn passie, Olympysch goud op de 5km
                    </p>
                    <div class="container-buttons">
                    <button class="option dislike"></button>
                    <button class="option like"></button>
                    </div>
                </div>
            </div>
        </article>
    </section>
</main>
<!-- end main content-->
