<body id="home-page">

<!-- start header -->
<header>
    <div class="container">
        <!-- start navigation -->
        <nav>
            <ul>
                <li><a href="/" class="profile-button"><img src="/images/icons/left-arrow.svg" alt="back"></a></li>
                <li><a href="/" class="logo"><img alt="logo" src="/images/icons/logo.svg"></a></li>
                <li><a href="/overview" class="matches-button"><img alt="overview" src="/images/icons/heartbeat.svg"></a></li>
            </ul>
        </nav>
        <!-- end navigation -->
    </div>
</header>
<!-- end header -->

<!-- start main content -->
<main>
    <h1><%= message %></h1>
</main>
<!-- end main content-->
